<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Prodajalna pesmi</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <style>
        div.pesem button {
            width: 100%;
            margin-bottom: 5px;
        }
    </style>
</head>
<body>
<div class="container text-center">
    <div class="row">
        <div class="col-md-6">
            <h3><span class="glyphicon glyphicon-music"></span> Seznam 100 najbolje prodajanih pesmi</h3>
            <div id="pesmi">
                <% seznamPesmi.forEach(function(pesem) { %>
                    <div id="<%= pesem.id %>" class="pesem">
                        <button type="button" class="btn btn-default btn-xs">
                            <span class="glyphicon glyphicon-plus"></span>
                            <strong><span class="naziv"><%= pesem.pesem %></span></strong>
                            (<span class="izvajalec"><%= pesem.izvajalec %></span>)
                            @
                            <span class="cena"><%= Math.round(100 * pesem.cena + pesem.stopnja * pesem.cena) / 100 %></span>
                            €
                            (<span class="stopnja"><%= pesem.stopnja %></span>%)
                        </button>
                    </div>
                <% }) %>
            </div>
        </div>
        <div class="col-md-6">
            <h3><span class="glyphicon glyphicon-shopping-cart"></span> Nakupovalna košarica</h3>
            <div id="kosarica"></div>
            <button id="racun_html" type="button" class="btn btn-success btn-xs" disabled>
                <span class="glyphicon glyphicon-euro"></span> Pripravi račun (HTML)
            </button>&nbsp;
            <button id="racun_xml" type="button" class="btn btn-success btn-xs" disabled>
                <span class="glyphicon glyphicon-euro"></span> Pripravi račun (XML)
            </button>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script>
    function premakniPesemIzSeznamaVKosarico(id, naziv, izvajalec, cena, stopnja, azuriraj) {
        if (azuriraj) {
            $.get("/kosarica/" + id, function (podatki) { /* Dodaj izbrano pesem v sejo */
            })
        }
        $("#kosarica").append(
            "<div id='" + id + "' class='pesem'>\
            <button type='button' class='btn btn-default btn-xs'>\
              <span class='glyphicon glyphicon-minus'></span>\
              <strong> <span class='naziv'>" + naziv + "</span></strong> \
              (<span class='izvajalec'>" + izvajalec + "</span>) \
              @ <span class='cena'>" + Math.round(100 * cena + stopnja * cena) / 100 + "</span> €\
              (<span class='stopnja'>" + stopnja + "</span>%)\
            </button>\
          </div>"
        );
        $("#kosarica #" + id).click(function () {
            var pesem_kosarica = $(this);
            $.get("/kosarica/" + id, function (podatki) {
                /* Odstrani izbrano pesem iz seje*/
                if (!podatki || podatki.length == 0) {
                    $("#racun_html").prop("disabled", true);
                    $("#racun_xml").prop("disabled", true);
                }
            });
            pesem_kosarica.remove();    /* Izbriši pesem iz desnega seznama */
            $("#pesmi #" + id).show();  /* Pokaži pesem v levem seznamu */
        });
        $("#pesmi #" + id).hide();    /* Skrij pesem v levem seznamu */
        $("#racun_html").prop("disabled", false);
        $("#racun_xml").prop("disabled", false);
    }

    $(document).ready(function () {
        /* Posodobi podatke iz košarice na spletni strani */
        $.get("/kosarica", function (kosarica) {
            kosarica.forEach(function (pesem) {
                premakniPesemIzSeznamaVKosarico(
                    pesem.stevilkaArtikla,
                    pesem.opisArtikla.split(" (")[0],
                    (pesem.opisArtikla.split(" (")[1]).split(")")[0],
                    pesem.cena, pesem.stopnja, false);
            });
        });
        /* Klik na pesem v levem seznamu sproži dodajanje pesmi v desni seznam */
        $('#pesmi .pesem').click(function () {
            var pesem = $(this);
            var stopnja = pesem.find("button .stopnja").text();
            premakniPesemIzSeznamaVKosarico(pesem.attr("id"),
                pesem.find("button .naziv").text(),
                pesem.find("button .izvajalec").text(),
                pesem.find("button .cena").text() / (1 + stopnja / 100),
                stopnja, true);
        });
        $("#racun_html").click(function () {
            window.location = "/izpisiRacun/html";
        });
        $("#racun_xml").click(function () {
            window.location = "/izpisiRacun/xml";
        });
    });
</script>
</body>
</html>